
    {% extends "template.html" %}
    {% block content %}
    <h4 class = "col-sm-12"> New Admin </h4>
    <p> Setup a new admin user - this gives them permissions to manage the entire UWI Shuttle Service System </p>

    <div class = "col-sm-8 card shadow">    
        <div class="card-body">

    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">{{ message }}</div> 
    {% endfor %}
    

    <form class="needs-validation" method = "POST" action = "{{ url_for('admin_user_add') }}" novalidate>
    
            {{ form.hidden_tag() }}

            <div class="row">
        <div class="col-md-12 mb-3">
            <label for="name"> {{ form.name.label }} </label>
            {{ form.name(class_='form-control') }}
        </div>

        <div class="col-md-12 mb-3">
            <label for="email"> {{ form.email.label }} </label> 
            {{ form.email(class_='form-control') }}
            <p class = "text-small"> For example: +12462422544 </p>
        </div>
    
        <div class="col-md-12 mb-3">
            <label for="telephone"> {{ form.telephone.label }} </label> 
            {{ form.telephone(class_='form-control') }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
        <label for="gender">Gender</label>
        <select class="custom-select d-block w-100" id="gender" name = "gender" required>
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
        </select>
        <div class="invalid-feedback">
            Please select a gender.
        </div>
        </div>
        <div class="col-md-6 mb-3">
        <label for="faculty">Staff Type</label>
        <select class="custom-select d-block w-100" id="faculty" name = "faculty" required>
            <option>Driver </option>
            <option>Regular Staff</option>
            <option>Admin</option>
        </select>
        <div class="invalid-feedback">
            Please provide a valid type.
        </div>
        </div>
    </div>

    <hr class="mb-4">

    <div class="row">
        <div class="col-sm-6"> 
            <label for="password"> {{ form.password.label }} </label> 
            {{ form.password(class_='form-control', id = "password") }}
        </div>

        <div class="col-sm-6"> 
            <label for="confirmpassword"> {{ form.confirmpassword.label }} </label> 
            {{ form.confirmpassword(class_='form-control', id = "confirmpassword") }}
        </div>

        <div class="col-sm-12">
            <br/>
            <strong> Password Requirements </strong><br/>
            <p> 
                Password should be at least 8 characters in length <br/>
                Include a symbol !@#$%^& <br/>
                Must include a number <br/>
                Must include at least one Uppercase number <br/>
            </p>
        </div>

    </div>

    <br/>


    <div class="row">

        <div class="col-sm-4"> 
            <h6> Staff ID </h6>
            <input class="form-control" type="number" value="" id="staffid" name = "staffid">
        </div>

    </div>

    <hr class="mb-4">
    <button class="btn btn-primary btn-lg btn-block" type="submit"> Create Admin User </button>
    </form>
    </div>
</div>
</div>

<br/><br/>

    {% endblock %}
